---
const { titulo, img, precio, id, descripcion } = Astro.props;
---

<div class="card">
    <i class="fas fa-angle-right"></i>
    <div class="titulo-container">
        <h3>{titulo}</h3>
        <img 
            alt={titulo} 
            src={img.src} 
            loading="lazy"
            data-id={id}
            data-titulo={titulo}
            data-img={img.src}
            data-precio={precio}
            data-descripcion={descripcion}
            onclick="dispatchEvent(new CustomEvent('abrirModal', {
                detail: {
                    id: this.dataset.id,
                    titulo: this.dataset.titulo,
                    img: this.dataset.img,
                    precio: this.dataset.precio,
                    descripcion: this.dataset.descripcion
                    },
                bubbles: true
            }))"
        >
    </div>

    <p class="precio">{precio} $</p>

    <button class="boton-detalle"
            data-id={id}
            data-titulo={titulo}
            data-img={img.src}
            data-precio={precio}
            data-descripcion={descripcion}
            onclick="dispatchEvent(new CustomEvent('abrirModal', {
                detail: {
                    id: this.dataset.id,
                    titulo: this.dataset.titulo,
                    img: this.dataset.img,
                    precio: this.dataset.precio,
                    descripcion: this.dataset.descripcion
                    },
                bubbles: true
            }));"
    >
        <img src="/add-to-cart.svg" alt="carrito">
    </button>
    
</div>

<style>

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 10px;
        border-radius: 10px;
        width: 250px;

        & .titulo-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h3 {
                font-family: var(--font-secondary);
                font-size: 1.25rem;
                text-align: center;
                margin-bottom: .5rem;
                -webkit-text-stroke-width: .25px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -.5px;
                    left: 0;
                    width: 0;
                    height: 1.5px;
                    background: var(--color-dark);
                    transition: all .2s ease-in-out;
                }
            }

            & img {
                width: 175px;
                height: 175px;
                object-fit: cover;
                border-radius: 7px;
                transition: all .2s ease-in-out;
            }

            &.titulo-container:hover > img {
                scale: 1.05;
                cursor: pointer;
            }

            &.titulo-container:hover > h3::after {
                width: 100%;
            }

            &.titulo-container:hover > h3 {
                color: var(--color-dark);
                cursor: pointer;
            }
        }
    }
    
    .precio {
        font-family: var(--font-secondary);
        -webkit-text-stroke-width: .25px;
        font-size: 1rem;
        text-align: center;
        padding: .25rem .5rem;
        border-radius: 10px;
        color: var(--color-dark);
    }

    .boton-detalle {
        border: none;
        outline: none;
        padding: 5px;
        height: 30px;
        width: 175px;
        border-radius: 7px;
        background: var(--color-dark);

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }







</style>