
<section id="productos" class="products"></section>

<script is:inline type="module">

document.addEventListener('DOMContentLoaded', async () => {

        const contenedor = document.querySelector('#productos');

        try {

            const res = await fetch('/api/productos');
            const productos = await res.json();

            productos.forEach(producto => { 
                const tarjeta = document.createElement('div');
                tarjeta.className = 'card';
                tarjeta.innerHTML = `
                    <div class="titulo-container">  

                        <h3>${producto.titulo}</h3>
                        <img
                            alt="${producto.titulo}"
                            src="${producto.img}"
                            loading="lazy"
                            data-id="${producto.id}"
                            data-titulo="${producto.titulo}"
                            data-img="${producto.img}"
                            data-precio="${producto.precio}"
                            data-descripcion="${producto.descripcion}"
                        >

                    </div>

                    <p class="precio">${producto.precio} $</p>

                    <button class="boton-detalle"
                        data-id="${producto.id}"
                        data-titulo="${producto.titulo}"
                        data-img="${producto.img}"
                        data-precio="${producto.precio}"
                        data-descripcion="${producto.descripcion}"
                    >
                        <img src="/add-to-cart.svg" alt="carrito">
                    </button>
                `;

                const triggers = tarjeta.querySelectorAll('img, button');
                triggers.forEach((el) =>
                    el.addEventListener('click', () => {
                        dispatchEvent(new CustomEvent('abrirModal', {
                            detail: { id: producto.id, titulo: producto.titulo, img: producto.img, precio: producto.precio, descripcion: producto.descripcion },
                            bubbles: true,
                        }));
                    })
                );
                
                contenedor.appendChild(tarjeta);
            });
        } catch (error) {
            console.error(error);
        }
    });

    let modalData = {
        titulo: '',
        precio: '',
        img: '',
        descripcion: '',
        visible: false
    };

    window.addEventListener('abrirModal', e => {
        
        const { titulo, precio, img, id, descripcion } = e.detail;

        modalData = {
            id,
            titulo,
            precio,
            img,
            descripcion,
            visible: true
        };

        renderModal(modalData);
    });

    function renderModal({ titulo, precio, img, descripcion, id, visible }) {

        const container = document.querySelector('#modal');

        container.innerHTML = visible
        ? `
            <div class="modal-overlay" onclick="cerrarModal()">
                <div class="modal-content" onclick="event.stopPropagation()">

                    <h2 class="modal-titulo">${titulo}</h2>

                    <div class="modal-grid">
                        <img class="modal-img" src="${img}" alt="${titulo}">
                        <p class="modal-descripcion">${descripcion}</p>
                    </div>

                    <p class="modal-precio">${precio} $</p>

                    <div class="carrito-container">
                        <div class="cantidad-container">
                            <button onclick="this.nextElementSibling.stepDown(1)">-</button>
                            <input type="number" id="cantidad" min="0">
                            <button onclick="this.previousElementSibling.stepUp(1)">+</button>
                        </div>
                        <button data-id="${id}" id="botonAgregar" class="boton-detalle" onclick="datosPedido()">
                            <img src="/carrito.svg" alt="carrito">
                        </button>
                    </div>

                    <button class="cerrar" onclick="cerrarModal()">X</button>

                </div>

            </div>
        `
        : '';
    }

    window.cerrarModal = function () {
        renderModal({ visible: false });
    };

    window.datosPedido = async function () {

        const cantidad = Number(document.querySelector('#cantidad').value);
        const id = Number(document.querySelector('#botonAgregar').dataset.id);  

        console.log(id, cantidad);

        // Validar cantidad seleccionada
        if (cantidad <= 0) {
            console.log('Debes pedir al menos 1 postre');
            return;
        }

        const res = await fetch('/api/productos');
        const productos = await res.json();
        productos.forEach(product => {
            if (product.id === id) {

                window.dispatchEvent(new CustomEvent('agregarItem', {
                    detail: {
                        id: product.id,
                        titulo: product.titulo,
                        precio: product.precio,
                        cantidad: cantidad
                    }
                }));
            }
        });

        cerrarModal();
    }

</script>

<style>
    .products {
        width: 100%;
        padding: .5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        place-items: center;
    }

</style>